@{
    ViewData["Title"] = "Home Page";
}



<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4 class="title"><a href="/Home/News/@item.Id">@item.Name</a></h4>
                        <p class="description">@item.Description</p>
                    </div>
                </div>
            }

        </div>

    </div>
</section>