
@model List<ContactUs>

<section class="testimonials">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>اراء المستخدمين</h2>
            <p style="font-size:25px;">هنا يستطيع كل مستخدم ان يدلو بدلوه</p>
        </div>

        <center>
            @foreach(var item in Model)
            {
            <div class="testimonial-item">
                <h3>@item.Name</h3>
                <h4>@item.Subject</h4>
                <p style="font-size:30px">
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        @item.Message
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>
            }
            <!-- End testimonial item -->
        </center>



    </div>
</section>